* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scroll-behavior: smooth;
  text-underline-offset: 4px;
  /* overflow-x: auto; */
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  opacity: .8;
}

.alice-carousel__prev-btn {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.alice-carousel__next-btn {
  padding-left: 25px !important;
  padding-right: 25px !important;
}